body{
	font-family: 'Fira Sans', sans-serif;
	overflow-x: hidden;
	overflow-y: hidden;
	background: #343A40;
}
html{
	scroll-behavior: smooth;
}
nav{
	background-color: linear-gradient(90deg, rgba(52,58,64,1) 50%, rgba(52,58,64,0) 50%) !important;
}
.logo{
	width: 150px;
}
header{
	height: 100vh;
}
.logo-intro{
	max-width: 60%;
	min-width: 20vw;
}
section{
	height: 100vh;
}
#section{
	height: 100vh;
}
.servicio{
	position: relative;
	height: 100%;
	width: 100vw;
}
.zup{
	position: relative;
	z-index: 1000;
}
.gradient{
	position: absolute;
	width: 100vw;
	height: 100vh;
	left: 0;
	margin-left: 0;
	top: 0;
	z-index: 10;
	background: linear-gradient(90deg, rgba(52,58,64,1) 50%, rgba(52,58,64,0) 70%) !important;
}
.img-servicio{
	position: relative;
	height: 100vh !important;
	right: 0;
	margin-left: 0;
	top: 0;
	z-index: 0;
}
.img-thumb{
	border-radius: 5px;
	width: 200px;
	height: 200px;
	object-fit: cover;
}
.flex-thumbs{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
}
.nb-card{
	margin: 5px;
}
.nb-card h5{
	position: absolute;
	text-align: center;
	width: 200px;
	bottom: 0;
	padding: 15px;
	margin: 0;
	border-radius: 0 0 5px 5px;
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}
.nb-modal p{
	position: absolute;
	bottom: 0;
	margin: 0;
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
	height: auto;
}
.background {
  position:  absolute;
  display:  block;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 0;
}

@media (max-width: 1200px) {
	.background{
		display: none;
	}
	.resp-btn{
		text-align: center;
	}
	.btn{
		margin-top: 1rem;
	}
}